<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>raviriley.WillpowerDaemon</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/WillpowerDaemon</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>UserName</key>
    <string>root</string>
    <key>StandardErrorPath</key>
    <string>/var/log/willpower-daemon.err.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/willpower-daemon.out.log</string>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>raviriley.Willpower</string>
    </array>
</dict>
</plist>
